.DS_Store
./data/*
./Notebook/scvi_*
./Notebook/scanvi_*
./Notebook/cytotrace2*
./Notebook/Results_h5ad
./Notebook/run_pyscenic
._*
*.h5ad
*.h5mu
*.pdf
*.png
*.pt
*.txt
*.xlsx
*.tsv
*.loom
*.csv
*.feather
*.tbl